@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700);
/* CSS Mini Reset */
* {
    box-sizing: border-box;
}
html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0;
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

html {
  background: #eee;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 1em;
  font-size: 3em;
}

#stream {
  width: 60vh;
  height: 40vh;
  margin: auto;
  display: block;
  z-index: -1;
}

#controls {
  z-index: 1;
  width: 60vh;
  height: 40vh;
  margin: auto;
  display: block;
  background: white;
  position:relative;
  background: white url();
  background-size: cover; !important
}

#up, #down, #right, #left {
  border: solid 1px rgba(0,0,0,.1);
  width: 20vh;
  height: 100px;
  font-weight:bold;

  text-align: center;
  vertical-align: middle;
  line-height: 20vh;
  font-size: 4em;
  color: rgba(0,0,0,.2);
  cursor: pointer;
   -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

#left {
  float: left;
  height: 40vh;
  line-height: 40vh;
}

#right {
  float: right;
  height: 40vh;
  line-height: 40vh;
}

#up {
  position: absolute;
  left: 20vh;
  height: 20vh;
}

#down {
  position: absolute;
  top: 20vh;
  left: 20vh;
  height: 20vh;
}

